.missing-page {
    align-items: center;   
    display: flex;
    justify-content: center;
    align-items: center;  
    min-height: calc(100% - 230px);
    margin: auto auto;
    gap: 24px;
}

.missing-page h2 {
    font-family: var(--font-family);
    font-size: clamp(1.875rem, 1.125rem + 2.5vw, 3.125rem);
    font-weight: 700;
    color: var(--primary-black-train);
    margin-top: 60px;
}

.missing-page-description {
    font-size: clamp(0.75rem, 0.45rem + 1vw, 1.25rem);
    font-weight: 500;
    color: var(--primary-black-train);
}

.missing-page-btn {
    padding: 16px 59px;
    width: fit-content;
    margin-top: 64px;
}