.missing-page {
    align-items: center;   
    display: flex;
    justify-content: center;
    align-items: center;  
    height: calc(100vh - 115px); 
    width: 100%;
    margin: 0 auto; 
    gap: 2vh; 
    box-sizing: border-box;
    padding: 20px;
}

.missing-page img {
    width: 100%;     
    max-width: 320px; 
    height: auto;
    margin: 0 auto;
}

.missing-page h2 {
    font-family: var(--font-family);
    font-size: clamp(1.875rem, 1.125rem + 2.5vw, 3.125rem);
    font-weight: 700;
    color: var(--primary-black-train);
    margin-top: 3vh;
}

.missing-page-description {
    font-size: clamp(0.75rem, 0.45rem + 1vw, 1.25rem);
    font-weight: 500;
    color: var(--primary-black-train);
}

.missing-page-btn {
    padding: 16px 59px;
    width: fit-content;
    margin-top: 5vh;
    font-size: clamp(0.875rem, 0.65rem + 0.5vw, 1.125rem);
}

@media (max-width: 768px) {
    .missing-page {
        gap: 1vh;
    }

    .missing-page-btn {
        margin-top: 4vh;
        padding: 12px 30px;
    }

    .missing-page h2 {
        margin-top: 2vh;
    }
}