.boarding-details {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.boarding-details h3, .train-title {
    font-size: 1.25rem;
    font-weight: 500;
}

.train-title-info {
    margin-top: 16px;
    margin-bottom: 32px;
}

.train-class {
    color: var(--primary-blue-train);
    font-size: 1rem;
}