.passenger-card-form {
    width: 100%;
}

.passenger-card-form-description {
    font-size: 0.875rem;
    color: var(--primary-black-train-50);
    text-align: left;
    margin-bottom: 16px;
}

.passenger-card-form h3 {
    text-align: left;
    font-size: 1.125rem;
    font-weight: 500;
}

.passenger-inputs-grid {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 16px;
}

.passenger-inputs-grid-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.input-group {
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    gap: 16px;
    align-items: start;
}

.input-group input {
    height: 56px;
    width: 100%;
    border: none;
    border-radius: 10px;
    background-color: var(--bg-gray);
    padding: 16px;
    outline: none;
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--primary-gray);
}

.input-group label {
    font-size: 1rem;
    font-weight: 500;
}


@media (max-width: 768px) {
    .passenger-inputs-grid-row {
        flex-direction: column;
    }
    .input-group {
        width: 100%;
    }
}



