.booking-tickets-form {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vh;
    margin: 7vh 0;
    margin-inline: auto;
    align-items: center;
    transition: margin 0.3s ease, transform 0.3s ease; 
}


.cities-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 32px;
}

@media (max-width: 768px) {
    .cities-container {
        flex-direction: column; 
        gap: 3vh;  
    }

    .city-input-wrapper {
        width: 100%;
    }
}





