.city-input-wrapper  {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: calc(50% - 16px);
    width: 100%;
    position: static;
}

.label {
    font-weight: 600;
    font-size: 1rem;
    margin-bottom: 16px;

}

.city-input {
    width: 100%;
    position: relative; /* Нужно для правильного позиционирования кнопки-крестика [X] */
}

.city-input input {
    width: 100%;
    border-radius: 10px;
    padding: 16px 24px;
    background-color: var(--white);
    border: none;
    outline: none;
    font-family: var(--font-family);
    font-size: 0.875rem;
    font-weight: 500;
}

.city-dropdown-list {
    position: relative;
    top: 0;
    left: 0;
    z-index: 100;
    margin-top: 12px;
    width: 100%;
    max-height: 115px;
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-grey) var(--white);
    list-style-type: none;
    padding: 12px 24px;
    background: var(--white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2px;
    box-shadow: 0 8px 24px -8px rgba(0, 0, 0, 0.16);
    animation: dropdownAppear 0.1s ease-in-out;
    z-index: 10;
    font-size: 0.875rem;
}

.city-dropdown-list li {
    padding: 1px 12px; 
    cursor: pointer;   
    list-style: none;
}


.clear-button {
    position: absolute;
    background: transparent;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    border: none
}

.clear-button:hover {
    transform: translateY(-50%) scale(1);
}