.app-container {
    max-width: 1440px;
    width: 100%;
    min-height: 100dvh;
    display: flex; 
    flex-direction: column;
    margin: 0 auto;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button, .cancel-button {
    border-radius: 10px;
    padding: 16px 0;
    width: 100%
}

.main-button {
    background: var(--primary-blue-train);
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: capitalize;
    color: var(--white);
}

.white-text {
    color: var(--white)
}

.black-text {
    color: var(--primary-black-train)
}

.cities-container {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}
.city-label {
    font-weight: 600;
    font-size: 16px;
    line-height: 150%;
}

.tooltip-wrapper {
    position: relative;
    display: inline-block;
}

/* Стилизация самой подсказки */
.tooltip-wrapper::after {
    content: attr(data-tooltip);
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    padding: 6px 10px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s;
    pointer-events: none; /* Чтобы подсказка не мешала мыши */
}

/* Показ подсказки при наведении на контейнер */
.tooltip-wrapper:hover::after {
    opacity: 1;
    visibility: visible;
}

.ticket-tooltip-wrapper {
    width: 100%;
}

.ticket-tooltip-wrapper::after {
    top: 100%;
    left: 50%;
    margin-top: 8px;
    color: var(--white);
    white-space: nowrap;
    font-size: 0.875rem;
}

.apply-tooltip-wrapper::after, .reset-tooltip-wrapper::after {
    bottom: 100%;
    left: 10px;
    color: var(----primary-black-train);
    white-space: normal;
    width: 180px;
    padding: 0;
    margin-bottom: 6px;
    font-size: 0.750rem;
}

.ticket-tooltip-wrapper.white-text::after {
    color: var(--white);
}

.ticket-tooltip-wrapper.black-text::after {
    color: var(--primary-black-train) !important;
}
