.home-page {
    align-items: center;   
    justify-content: flex-start;
    padding: 40px 0; 
    box-sizing: border-box;
    height: auto;
}

.main-paragraph {
    font-size: clamp(1.375rem, 1.25rem + 0.5556vw, 1.75rem);
    text-transform: lowercase;
}

@media (min-height: 750px) {
    .home-page {
        height: calc(100dvh - 115px); 
        justify-content: center; 
        padding: 0; 
    }
}